@page
@model XIDOC.Pages.territories.mappingModel
@{
    ViewData["Title"] = "mapping";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<main class="app-content" ng-controller="territoryMappingCtrl">
    <div class="app-title" ng-show="employeename !== undefined">
        <div>
            <h1><i class="fa fa-user"></i> {{ employeename }} ({{ personnelnumber }}) </h1>
            <div>{{ email }}</div>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/employees">Employees</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="tile">
                <div class="tile-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="state">State</label>
                            <select ng-model="mappingModel.State" id="stateDropdown" ng-change="getLocalGovernments(mappingModel.State)" style="font-size: 14px" class="form-control" name="state">
                                <option value="">-- Select --</option>
                                <option ng-repeat="info in states" value="{{ info.stateCode }}"> {{ info.state }} </option>
                                @*<option ng-repeat="info in states" value="{{ info.stateCode }}"> {{ info.state }} </option>*@
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="lga">Local Government<span class="text-danger"> *</span></label>
                                <select ng-model="mappingModel.LocalGovernment" ng-change="getTerritoriesByLga(mappingModel.LocalGovernment)" class="form-control" id="lga" name="localgovernment" style="font-size: 14px">
                                    <option value="">-- Select --</option>
                                    <option ng-repeat="localGovernment in localGovernments"> {{ localGovernment.lgaName }} </option>
                                </select>
                                @*<span style="font-size: 12px" ng-show="territoryCreateForm.localgovernment.$touched && territoryModel.LocalGovernment === ''">
                                    <span class="text-danger">Please select a LGA!</span>
                                </span>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="lga">Territory<span class="text-danger"> *</span></label>
                                <select ng-model="territoryMapModel.TerritoryRecId" class="form-control" id="lga" name="territory" style="font-size: 14px">
                                    <option value="">-- Select --</option>
                                    <option ng-repeat="territory in territories" value="{{ territory.territoryInfoRecId }}"> {{ territory.name }} </option>
                                </select>
                                @*<span style="font-size: 12px" ng-show="territoryCreateForm.localgovernment.$touched && territoryModel.LocalGovernment === ''">
                                    <span class="text-danger">Please select a LGA!</span>
                                </span>*@
                            </div>
                        </div>

                         <div class="form-group">
                             <div class="form-group">
                                 <button class="btn btn-primary btn-block" ng-click="mapRepToTerritory()" id="mapSalesRepButton" ng-disabled="disableMapToTerritory"><i class="fa fa-thumb-tack"></i> Map to Territory</button>
                                 <button class="btn btn-success btn-block" id="processingButton" disabled>
                                     <span class="spinner-grow spinner-grow-sm"></span>
                                     Processing...
                                 </button>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="tile">
                <div class="tile-body">
                    <div ng-show="fetchingmappedterritories">
                        <div class="spinner-border spinner-border-sm text-success">
                        </div>
                        Getting Territories...
                    </div>
                    <div ng-show="mappedTerritories.length === 0 && fetchingmappedterritories === false" class="text-center">
                        <i class="fa fa-info-circle"></i> This Sales Rep has not been assigned to any territory...
                    </div>
                    <ul class="list-group" id="territoriesPane" ng-show="fetchingmappedterritories !== true">
                        <li ng-repeat="territoryinfo in mappedTerritories" class="list-group-item d-flex justify-content-between align-items-center">
                            {{ territoryinfo.name }}
                            @*<span class="badge badge-primary badge-pill">12</span>*@
                            <button class="btn btn-danger btn-md" id="{{ territoryinfo.territoryInfoRecId }}" ng-click="unMapRepFromTerritory(territoryinfo.territoryInfoRecId)"><i class="fa fa-trash"></i> Remove</button>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="https://www.cssscript.com/demo/beautiful-growl-notification/growl-notification.min.js"></script>
@section footerJS{
    <script src="~/js/controllers/territories/mapping.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
}